@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap')

.st-emotion-cache-776elj{
    display: block; /* Ensure block-level display for centering */
    margin: 0 auto; /* Center horizontally */
    width: 35vw;
    height: 40vw;

}
.st-emotion-cache-keje6w > div > div > div > iframe {
    display: block; /* Ensure block-level display for centering */
    margin: 0 auto; /* Center horizontally */
    width: 30vw; /* Responsive width based on viewport width */
    height: 30vw; /* Maintain aspect ratio with 1:2 width-to-height ratio */
}
.contact_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 14vw; /* Adjust the width as needed */
    height: 6vw; /* Adjust the height as needed */
}

.lottie-container {
    position: relative;
    width: 7vw; /* Adjust the width as needed */
height: 7vw; /* Adjust the height as needed */
}

.lottie-iframe {
    position: absolute;
    top: 0;
    left: 0;
width: 6vw;
height: 6vw;
z-index: 1;
border: none;
}

.lottie-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 7vw;     
    height: 6vw;
    z-index: 2;
    background: transparent;
    border: none;
    cursor: pointer;
}

.container_head{
    position: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
    margin: 0;
    padding: 0;
}
.container_desc{
    position: block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}